 

  @media  only screen and (min-width : 900px) {
          .custom-container {
            display: block !important;
            width: 70% !important;
            flex:none !important;
          }
      }

 body {
    padding-top: 90px;
   /* background-color: #4618ac;*/
  }

.custom-container {
  border-radius: .5rem .5rem .5rem .5rem;
  padding: .75rem 1.25rem;
  background-color: #ffffff;
  /*border: 1px solid #e5e5e5;*/
  /*border-bottom: 1px solid #e5e5e5;*/
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
  margin-bottom: 30px;
}

.card-header-custom {
  border-radius: .25rem .25rem 0 0;
  padding: .75rem 1.25rem;
  /*background-color: #e70009;*/
  /*border: 1px solid #e5e5e5;*/
  border-bottom: none;
}

.card{
  margin: 1px;
  border: none;
}

.card-footer{
  background-color: #ffffff;
}

.card-title{
  font-size: 18px;
}

 .card-text{
    font-size:14px;
}



.footer {
  font-size: 14px;
  background-color: #f5f5f5;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

@font-face {
    font-family: 'woojooaidpmedium';
    src: url('woojooaidp-webfont.woff2') format('woff2'),
         url('woojooaidp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 1px 2px rgba(0,0,0,0.11)
}

.navbar-brand {
  font-family:  woojooaidpmedium;
  font-size: 1.5rem;
}



.dropdown-item.active{
  background-color: #5a33ff;
}

.dropdown-menu a:focus {
    background-color: #686868;
}

.header {
  display: flex;
  /*align-items: flex-start;*/
  /*overflow: hidden;*/
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 10px 20px; 
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding:10px;
 /* justify-content: flex-end;;*/
}

.navbar-nav button {
  /*vertical-align: middle;*/
  /*color: black;*/
  text-align: center;
  border: none;
  padding: 8.5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  border-radius: 4px;
  background-color: #ff7d00;
  color:white;
  transition: 0.5s;
}

#header {
    height: 100%;
}

.logo {
    display: block;
    height: auto;
    width: 38px;
    shape-rendering: geometricPrecision;
    /*padding-top: 50px;*/
    margin-left:  5px;
    margin-right: 5px;
    margin-top: -12px;
    margin-bottom: -10px;
    /*margin: 0 auto;*/

}

.ddicon{
  height:  15px;
  width:  auto;
}

/*li {
  margin: 5px 0;
}*/


.opencritic{
  /*font-size: 0.95vw;*/
  margin-left:  none;
  border-radius: 5px;
 background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
 width: 50px;
  background: rgba(0%, 0%, 0%, 0.5); 
}

.card-img{
  border-radius: 5px;
}

.oc {
  margin-left: 5px;
  margin-right: 4px;
  width: 30%;
}

.card-img-overlay {
  position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    z-index: 1;
}



.create
{
background-size:  15px;
background-position:  left center;
background-image: url('psplus.svg');
background-repeat: no-repeat;
margin-left: 5px;
padding-left: 20px;  /* width of the image plus a little extra padding */
display: inline-block;  /* may not need this, but I've found I do */
}


.nbadge {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background-image: url('switch-logo.png');
    background-repeat: no-repeat;
    background-size: 15px;
    display: inline-block;
    flex: none;
}


.nbadges {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-image: url('platform-icons18.webp');
    background-repeat: no-repeat;
    background-size: 30px;
    display: inline-block;
    flex: none;
}

.pbadges {
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background-image: url('platform-icons18.webp');
    background-repeat: no-repeat;
    background-size: 35px;
    display: inline-block;
    flex: none;
}


.pbadges.playstation {
    background-color: #004eff;
    background-position: -3px -298px;
}

.nbadges.nintendo {
    background-color: #e70009;
    background-position: 0px -510px;
}

@media screen and (max-width: 900px) {
  .custom-container {
            display: block !important;
            width: 90% !important;
            flex:none !important;
          }


.logo {
    display: block;
    height: auto;
    width: 38px;
    shape-rendering: geometricPrecision;
    /*padding-top: 50px;*/
    margin-left:  5px;
    margin-right: 5px;
    margin-top: -12px;
    margin-bottom: -10px;
    /*margin: 0 auto;*/

}

 body {
    padding-top: 70px;
  }

li {
  margin: 2px 0;
}

.card-title{
  font-size: 16px;
}

.card-text{
    font-size:12px;
}

.starlogo {
  width: 50%;
  height: auto;
}



.ddicon{
  height:  15px;
  width:  auto;
}


  }

